main {
  display: flex;
  justify-content: center;
  height: 87.5vh;
}

label {
  display: flex;
}

.adjust {
  text-align:center;
}

.error{
  color: darkred;
  font-size: 12px;
}

.button {
  margin-top: 1rem;
  border-radius: 15px;
  background-color: blue;
  color: white;
  border: none;
  box-shadow: 0 2px 4px 4px grey;
  transition: transform 0.1s ease;
  height: 2rem;
}

.button:hover {
  transform: translateY(-3px) scale(1.05);
}

.button:active {
  transform: translateY(-3px) scale(0.95);
}

.card-container {
  display: flex;
}

.card {
  width: 400px;
  background-color: goldenrod;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.card p {
  text-align: left;
}
