a{
  color: white;
}

header{
  user-select: none;
  height: 5vh;
  padding: 20px;
  background-color: #65655b;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.menu-button{
  position: absolute;
  left: 2rem;
  top: 1.5rem;
  font-size: 3rem;
}


.sign-button{
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  font-size: 3rem;
}
