/* Styles pour centrer le tableau en hauteur */
main {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 87.5vh; /* Ajuster la hauteur du conteneur principal */
  margin: 0 auto;
}

/* Style optionnel pour ajuster la largeur du tableau */
div {
  max-width: 100%;
}

table {
  justify-content: space-evenly;
  width: 1330px;

  thead {
    background-color: #929283;
    color: white;
    user-select: none;

    tr {
      border: solid black 2px;
    }

    td {
      text-align: center;
      padding: 5px;
    }
  }

  tbody {
    tr {
      border: solid black 2px;
    }

    td {
      text-align: center;
      border: solid black 2px;
      background-color: white;
      padding: 5px;
    }
  }
}

/* Style pour le conteneur du formulaire */
.form-container {
  background-color: goldenrod;
  border-radius: 16px;
  max-width: 100%;
}

/* Style pour les champs de formulaire */
.form-field {
  margin-left: 1rem;
  margin-bottom: 15px;
}

.form-field input {
  width: 200px;
}

.form-field select {
  width: 200px;
}

.checkbox{
  margin-left: 1rem;
  display: flex;
}

/* Style pour les boutons */
.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style pour le bouton "Rechercher" */
.form-buttons input {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}

.form-buttons input:hover {
  transform: translateY(-3px) scale(1.05);
}

.form-buttons input:active {
  transform: translateY(-3px) scale(0.95);
}

button {
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 16px;
}

button:hover {
  transform: translateY(-3px) scale(1.05);
}

button:active {
  transform: translateY(-3px) scale(0.95);
}

/* Style pour le bouton "Reset" */
.form-buttons input.reset {
  align-self:start;
  background-color: #dc3545;
}

/* Style pour le formulaire */
.form {
  width: 100%;
  max-width: 400px; /* Ajustez la largeur maximale selon vos besoins */
  padding: 2rem;
}

.flex {
  display: flex;
}

.border{
  border: solid goldenrod 10px;
  border-radius: 15px;
  background-color: goldenrod;
}

label{
  display: flex;
  width: 250px;
}

.adjust {
  align-content:start;
  justify-items: start;
}

.column{
  display: flex;
  flex-direction: column;
}

p{
 width: 250px;
}

.grey{
  background-color: grey;
}
.red{
  background-color: red;
}
