<!-- Une balise <header> qui contient un composant personnalisé appelé "app-header". -->
<header>
  <app-header></app-header>
</header>

<!-- Une balise <body> qui contient un composant personnalisé appelé "app-nav-bar". -->
<body>
<app-nav-bar></app-nav-bar>

<!-- Une balise <div> qui contiendra le contenu dynamique en fonction de la navigation. -->
<div>
  <!-- Le contenu des différents composants sera affiché ici en fonction de la route active. -->
  <router-outlet></router-outlet>
</div>
</body>
