/* Stylisation de la section principale */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Stylisation pour les messages d'erreur */
.error {
  color: darkred;
  font-size: 12px;
}

/* Stylisation pour les boutons */
.button {
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  background-color: blue;
  color: white;
  border: none;
  box-shadow: 0 2px 4px 4px grey;
  transition: transform 0.1s ease;
}

/* Effet de survol sur les boutons */
.button:hover {
  transform: translateY(-3px) scale(1.05);
}

/* Effet lorsqu'un bouton est enfoncé */
.button:active {
  transform: translateY(-3px) scale(0.95);
}

/* Stylisation du conteneur de cartes */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

/* Stylisation des cartes */
.card {
  width: 400px;
  background-color: goldenrod;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

/* Stylisation des champs de saisie */
input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Alignement du texte à gauche dans les cartes */
.card p {
  text-align: left;
}

/* Stylisation des champs de saisie dans les cartes */
.card input,
.card select {
  width: 200px;
  margin-left: auto;
  margin-bottom: 1rem;
}
