nav {
  padding: 1rem 2rem;
  width: 20vw;
  height: 87.5vh;
  background-color: #929283;
  color: white;
  font-size: 1.5rem;
  ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    .isActive{
      color: palegoldenrod;
    }
    ul{
      padding: 1rem;
      color: white;
    }
  }
}

a{
  text-decoration: none;
  user-select: none;
  position: relative;
  color: white;
}
a:hover{
  color: black;
}



